<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Main Page</title>
</head>
<body>
	<div style="text-align: center"><h1>CHOOSE A SERVICE</h1></div>
    <div class="text-center">
       	<br><a href="/summaryInput" class="btn btn-primary">Summarize Files</a><br>
       	<br><a href="/audioInput" class="btn btn-primary">Convert Audio to Text</a>
    </div>
</body>
</html>